

/* ***************************************************************
GENERAL
*************************************************************** */


:root {
  --red-a: #B92809;
  --red-b: #910000;
  --white-a: #FFFFFF;
  --white-b: #E0E0E0;
  --dark-a: #383838;
  --dark-b: #181818;
  --brown-a: #9b7c57;
  --brown-b: #73542f;
  --green-a: #00912d;
  --green-b: #006905;
  --blue-a: #0085ae;
  --blue-b: #006186;
}

.wrap {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, a, p {
	font-family: 'Ubuntu';
	word-break: initial;
}






/* ***************************************************************
DESKTOP - NAV
*************************************************************** */


#top-menu > li:not(:first-child):before {
    content: " | ";
    color: rgba(255, 255, 255, 0.8);
}

.top-bar ul {
	background-color: transparent;
}

.top-bar .top-bar-left, .top-bar .top-bar-right {
	width: auto;
}



#top-tag {
	width: 160px;
	height: 200px;
	margin:	auto;
	background-color: var(--white-b);
	border-radius: 0px 0px 8px 8px;
	box-shadow: 0px 3px 4px rgba(0,0,0,.7);
	border: 2px solid #484848;
	border-top: none;
}

#top-title {
	display: none;
	color: var(--white-a);
	font-size: 30px;
	font-weight: 500;
}

.menu-icon {
	display: none;
}

#top-title:hover {
	color: var(--blue-a);
	text-shadow: white 0px 0px .03em;

}

#top-tag-next {
	padding-top: 10px;
	font-weight: 500;
	color: var(--dark-a);
	transform: scale(1, .8);
}

.top-tag-text {
	text-align: center;
	line-height: 1em;
}

#election-countdown span{
	color: grey;
	background-color: white;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.1);
  	box-shadow: 
    inset 1px 1px 2px 1px rgba(0,0,0,0.4);
    padding: 0px 5px;
}

#election-countdown {
	padding-top: 4px;
}

#top-tag-days span {
	font-weight: bold;
	letter-spacing: 8px;
	font-size: 20px;
	color: var(--dark-a);
	padding-left: 6px;
}


.nav-desktop, .top-bar {
	background-image: linear-gradient(var(--dark-a), var(--dark-b));
	height: 55px;
	padding: 0px;
	line-height: 55px;
	box-shadow: 0px 2px 3px rgba(0,0,0,.7);
	position: fixed;
	width: 100%;
	z-index: 1;
}


.menu > li > a {
    display: inline-block;
    line-height: 55px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
    }



.menuitem {
	color: var(--white-b);
	background-color: transparent;
	font-family: 'Ubuntu';
	font-weight: bold;
	font-size: 1em;
}

.menuitem:hover {
	color: var(--blue-a);
	background-color: rgba(1,1,1,.75);
}






/* ***************************************************************
MOBILE - NAV
*************************************************************** */












/* ***************************************************************
HERO
*************************************************************** */

#hero-tiny, #hero-small {
	color: var(--white-b);
}

#hero-tiny {
	font-size: 1em;
}

.pac-item {
	font-family: "Ubuntu";
	border-top: 1px;
}

.pac-container {
	box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
	font-family: "Ubuntu";
}

#hero-box {
	max-width: 700px;
	margin-left: 200px;
}


.hero {
	min-height: 500px;
	background: url("../img/mountains-low-res.png");
	background-size: cover;
	background-color: var(--red-b);
	box-shadow: 0px 3px 2px rgba(0,0,0,.7);
	position: relative;
	padding-top: 70px;
}

.hero #hero-big {
	color: var(--white-a);
	font-size: 7em;
	letter-spacing: -5px;
	margin-bottom: 0px;
	line-height: 1.2em;
}



.hero-search {
	float: right;
}

.postal-search-bar {
    width: 470px;
    padding: 8px;
    margin: 20px auto 20px 0px;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    height: 56px;
}

.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.postal-search-bar input {
    width: 330px;
    height: 40px;
    padding: 0px 5px;
    float: left;    
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Ubuntu';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;      
}

.postal-search-bar input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.postal-search-bar input::-webkit-input-placeholder {
   color: var(--dark-a);
   font-weight: normal;
   font-style: italic;
}

.postal-search-bar input::-moz-placeholder {
    color: var(--dark-a);
    font-weight: normal;
    font-style: italic;
}

.postal-search-bar input::-ms-input-placeholder {
    color: var(--dark-a);
    font-weight: normal;
    font-style: italic;
}    

/* Form submit button */
.postal-search-bar button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 124px;
    font: bold 20px/40px 'lucida sans', 'trebuchet MS', 'Ubuntu';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
  
.postal-search-bar button:hover{		
    background: #e54040;
}	
  
.postal-search-bar button:active,
.postal-search-bar button:focus{   
    background: #c42f2f;
	outline: 0;   
}

.postal-search-bar button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

.postal-search-bar button:hover:before{
    border-right-color: #e54040;
}

.postal-search-bar button:focus:before,
.postal-search-bar button:active:before{
        border-right-color: #c42f2f;
}      

.postal-search-bar button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
} 


/* ***************************************************************
MAIN
*************************************************************** */

.FED-snapshot-flex {
	display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4) inset;
    border-left: 1px solid rgba(.9,.9,.9,0.4);
	border-top: 1px solid rgba(.9,.9,.9,0.4);
	border-right: 1px solid rgba(0,0,0,0.5);
	border-bottom:  1px solid rgba(0,0,0,0.5);
	border-radius: 5px;
	margin: 10px;
}

.FED-body-flex {
	display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.FED-titlebar-flex {
	display: -webkit-flex;
    display: flex;
    background-color: var(--green-a);
    border-bottom: 10px solid var(--green-b);
    cursor: pointer;
}

.FED-titlebar-flex:hover {
	box-shadow: 0px -2px 5px -2px rgba(.5,0.5,0.5,.7) inset;
	transition: all .1s ease;
}

.FED-province-abbrev {
	color: var(--white-b);
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 0;
	margin-left: 5px;
	padding-right: 5px;
	border-right: 1px solid var(--white-b);
}

.FED-name-flex {
	color: var(--white-a);
	font-size: 1em;
	line-height: 1em;
	margin: 0;
	padding-top: 12px;
	font-weight: bold;
	letter-spacing: 4px;
	margin-left: 5px;
}

.FED-photo-flex {
	padding: 5px;
}

.FED-details-flex {
	flex: 4;
	padding: 10px;
}

.FED-details {
	display: -webkit-flex;
    display: flex;
    flex-direction: column;	
}

.FED-data-row {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
}

.FED-data-row p {
	font-size: 1.2em;
	color: var(--dark-b);
	margin-left: 10px;
	font-weight: 600;
}

.FED-data-row p:first-child {
	font-size: 1.2em;
	color: var(--dark-a);
	margin-left: 10px;
	font-weight: 300;
}



.FED-stats-flex {
	flex: 2;
	text-align: center;
	padding: 10px;
}

.FED-stats-flex .percentage {
	font-size: 3em;
	color: var(--dark-a);
	font-weight: bold;
	margin-bottom: 0px;
	line-height: 1;
}






#province-map {
	max-height: 90vh;
	display: block;
	margin:	auto;
	padding: 20px;
}

svg #AB, 
svg #BC, 
svg #SK, 
svg #MB, 
svg #ON, 
svg #QC, 
svg #PE, 
svg #NS, 
svg #NB, 
svg #NL, 
svg #YT, 
svg #NT, 
svg #NU {
	fill: url("#map-texture-base");
	fill-opacity: .8;
}



svg #AB:hover, 
svg #BC:hover, 
svg #SK:hover, 
svg #MB:hover, 
svg #ON:hover, 
svg #QC:hover, 
svg #PE:hover, 
svg #NS:hover, 
svg #NB:hover, 
svg #NL:hover, 
svg #YT:hover, 
svg #NT:hover, 
svg #NU:hover {
	fill: url("#map-texture-hover");
	fill-opacity: 1.0;
	transition: all .8s ease;
	stroke: #226077;
	stroke-width: 3;
}




#mapboxmap {
	height: 300px;
	width: 300px;
	z-index: 0;
}


/* ***************************************************************
FOOTER
*************************************************************** */

footer {
	min-height: 200px;
	background-color: var(--red-b);
	padding: 30px 0px;
	color: var(--white-b);
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,.8);
}

footer h4 {
	padding-top: 20px;
}

footer a {
	display: block;
	color: var(--white-b);
}

footer a:hover {
	color: var(--white-a);
}

footer a span {
	font-weight: bold;
	color: var(--dark-a);
	padding-right: 3px;
}






/* ***************************************************************
MEDIA QUERIES
*************************************************************** */


@media screen and (max-width: 830px) {
	footer h4 {
		font-variant: small-caps;
		font-weight: bold;
		text-align: center;
		text-decoration: underline;
	}

	footer a {
		text-align: center;
	}

	.hero #hero-big {
		font-size: 4em;
		letter-spacing: -5px;
		margin-bottom: 0px;
		line-height: 1.2em;
	}

	.hero #hero-small {
		font-size: 1.5em;
	}

	.hero #hero-tiny {
		font-size: 1em;
	}

	#top-tag {
		height: 55px!important;
	    background-color: #282828!important;
	    border-radius: 0!important;
	    box-shadow: none!important;
	    border: none!important;
	    background-image: linear-gradient(#282828, #282828, #181818)!important;
	}

	.top-tag-text {
		visibility: hidden!important;
	}

	#top-title {
		display: inline!important;
	}

	.menu-icon {
		display: inline-block;
	}

	#top-menu {
		display: none;
	}

	#hero-box {
	    margin: auto;
	    text-align: center;
	    width: 80vw;
	}

	.hero-search {
		float: none;
		margin: auto;
	}

	.postal-search-bar {
		margin: auto;
	}

}


@media screen and (max-width: 600px) {
	
	.postal-search-bar {
		width: 80vw;
	}

	.postal-search-bar input {
		width: calc(80vw - 16px - 50px);
	}

	.postal-search-bar button {
		width: 50px;
	}

}
